
  <div class="container mt-3 mb-5">
    <div class="container mt-3 ">
    <div class="col-12 mb-3">
      <div class="section-title text-center mb-15">
          <h4 class="title text-white text-capitalize text-info bg-info">Ma liste</h4>
      </div>
  </div>
  </div>
  <mat-spinner style="margin-bottom: 300px;" class="container text-center" *ngIf="isLoading"></mat-spinner>
<div *ngIf="!isLoading" class="container mt-2">

<div *ngIf="todos.length == 0">
  Pas de taches saisies
</div>
<div class="container mt-3 " *ngIf="todos.length !== 0">
  <div class="list-group">

    <a [routerLink]="['/detail-todo', todo._id]" class="list-group-item list-group-item-action " *ngFor="let todo of todos, let i = index">
      <div  class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">N°: {{i+1}} - {{todo.todoName|uppercase}}</h5>
        <small>Créée le : {{todo.createdAt|date}}</small>

        </div>

        <div class="alert alert-info" *ngIf = "todo.todoStatus=== true" >Terminé</div>
        <div class="alert alert-warning" *ngIf = "todo.todoStatus=== false" >Encours</div>
<div>
  <button class="btn btn-info" [routerLink]="['/detail-todo', todo._id]">Détail</button>

</div>


    </a>
  </div>
</div>
</div>
</div>
