<app-header-page page="Réinitialisation de Mot de passe"></app-header-page>


<div class="container-sm col-6">


<mat-spinner style="margin-bottom: 300px;" class="container text-center" *ngIf="isLoading"></mat-spinner>
<div >

  <form #resetForm ="ngForm" (ngSubmit)="onReset(resetForm)" *ngIf="!isLoading">

  <div class="form-group mb-3 mt-3" >
    <label class="h6">Adresse Email*: </label>
    <input type="email" name="email" class="form-control" ngModel required >

       </div>
       <button type="submit" class="btn btn-primary" [disabled]="resetForm.invalid">Réinitialiser</button>
</form>
<div class="col-12">
  <div class="border-top mt-4">
      <a  routerLink="/home" class="h6 no-account">Annuler </a>
  </div>
</div>
</div>
</div>
